<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mapper.BoardMapper">
 	<insert id="insert">
 		insert into 
 		tbl_board(id, title, content, cno) 
 		values (#{id}, #{title}, #{content}, #{cno})
 	</insert>
 	<select id="list" resultType="domain.Board">
 		select * 
 		from tbl_board
 		where cno = #{cno}
 		<!-- <foreach collection="types">
 			<if test="">
	 			and title like concat('%', #{keyword}, '%'); 
 			</if>
 		</foreach> -->
 		
 		
 		order by bno desc 
 		limit #{amount} 
 		offset #{offset}
 	</select>
 	<select id="selectOne" resultType="board">
 		select * 
 		from tbl_board 
 		where bno = #{bno}
 	</select>
 	<select id="getCount" resultType="long">
 		select count(*) from tbl_board where cno = #{cno}
 	</select>
 	<!-- 
 		#{var} = '${var}'
 	 -->
 </mapper>