<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mapper.MemberMapper">
 	<insert id="insert">
	 	insert into tbl_member(id, pw, name, email) values (#{id}, #{pw}, #{name}, #{email})
	 	<!-- insert into tbl_board(title, content, id, cnt) values (#{title}, #{content}, #{id}, #{cnt})
	 	insert into tbl_reply(content, id, bno) values (#{content}, #{id}, #{bno})
	 	insert into tbl_attach(uuid, path, image, origin, bno, rno) values (#{id}, #{id}, #{pw}, #{name})-->
 	</insert>
 	<select id="findById" resultType="domain.Member">
 		select * from tbl_member where id = #{id}
 	</select>
 </mapper>